<section class="banner relative mb-24">
    <div class="banner-img flex justify-end">
        <img class="w-full lg:w-3/5" src="assets/images/banner-catalogo.png" alt="">
    </div>
    <div class="container relative lg:absolute lg:top-1/2 left-1/2 -translate-x-1/2 lg:-translate-y-1/2 py-8 lg:py-0 px-6 lg:px-0">
        <div class="banner-info w-full lg:w-2/5 pr-12">
            <p class="font-mp-prosemibold text-6xl text-gray-secondary mb-3 uppercase">Catálogo</p>
            <p class="font-mp-regular text-4xl text-black border-b-2 border-red">Conoce nuestro catálogo y descubre en <span class="text-red">donde puedes redimir tus puntos acumulados.</span></p>
        </div>
    </div>
</section>
<section>
    <div class="text-center">
        <div class="flex lg:inline-flex flex-col lg:flex-row gap-5 m-auto w-auto border-b-2 border-red mb-8 pb-3 text-center lg:text-left">
            <img class="w-28 m-auto h-auto" src="assets/images/gastronomia.png" alt="">
            <div class="">
                <h2 class="text-red font-mp-condensed text-5xl sm:text-6xl lg:text-8xl">GASTRONÓMICAS</h2>
                <p class="font-mp-light text-3xl lg:text-5xl text-black">Grupo Seratta.</p>
            </div>
        </div>
    </div>
    <article class="degradado">
        <div class="container m-auto">
            <div class="flex items-end">
                <h4 class="text-white font-mp-bold text-3xl sm:text-4xl lg:text-8xl w-3/5 py-4">GRUPO SERATTA</h4>
                <img class="w-2/5" src="assets/images/seratta.png" alt="">
            </div>
        </div>
    </article>
    <div class="container m-auto my-7 accordeon-catalogo py-6">
        @for (item of listSerata; track $index) {
            <div class="acordeon-item" [class]="item.active ? 'activo' : ''">
                <h4 (click)="activeItemSerata($index)" class="flex font-mp-regular text-3xl cursor-pointer mb-5"><img class="w-11 mr-4 h-11" [src]="item.active ? 'assets/images/menos.png' : 'assets/images/mas.png'" >{{item.title}}</h4>
                <div [class]="item.active ? 'block' : 'hidden'" class="mb-7 mx-5 flex items-center gap-6 flex-col lg:flex-row flex-col lg:flex-row">
                    @if (item.image) {
                        <img [src]="item.image" alt="">
                    }
                    <p class="font-mp-regular text-2xl" [innerHTML]= "item.text"></p>
                </div>
                @for (element of item.listH; track $index) {
                    <div [class]="item.active ? 'block' : 'hidden'" class="relative py-6  mb-6 border-t-2 border-red mx-5">
                        <p class="font-mp-regular text-2xl mb-7" [innerHTML]= "element.desc"></p>
                        <h3 class="text-center text-black font-mp-bold text-2xl"><strong class="text-5xl text-red">{{element.pointsProduct}}</strong> Puntos</h3>
                        <button (click)="addCar(element)" class="flex relative lg:absolute lg:bottom-6 lg:right-0 font-mp-light text-3xl gap-3 m-auto lg:m-0 mt-5 items-center">Agregar al carrito  <img src="assets/images/car-black.png" alt=""></button>
                    </div>
                }
                @if (item.listV) {
                    <div [class]="item.active ? 'block' : 'hidden'" class="flex justify-center flex-wrap py-6 mb-6">
                        @for (element of item.listV; track $index) {
                            <div class="relative w-full sm:w-1/2 lg:w-1/4 border-r-2 border-red text-center last:border-r-0 mb-4">
                                <h3 class="text-center text-black font-mp-bold text-2xl"><strong class="text-5xl text-red">{{element.pointsProduct}}</strong> Puntos</h3>
                                <img (click)="addCar(element)" class="m-auto text-center py-3" src="assets/images/car-black.png" alt="">
                                <button (click)="addCar(element)" class="bottom-6 right-0 font-mp-light text-3xl">Agregar al carrito</button>
                            </div>
                        }
                    </div>
                }
                
            </div>
        }
    </div>

    <div class="text-center">
        <div class="flex lg:inline-flex flex-col lg:flex-row gap-5 m-auto w-auto border-b-2 border-red mb-8 pb-3 text-center lg:text-left">
            <img class="w-28 m-auto h-auto" src="assets/images/gastronomia.png" alt="">
            <div class="">
                <h2 class="text-red font-mp-condensed text-5xl sm:text-6xl lg:text-8xl">Salud / Bienestar</h2>
                <p class="font-mp-light text-3xl lg:text-5xl text-black">Matumbé, Cyglo, Pilates ProWorks</p>
            </div>
        </div>
    </div>
    <article class="degradado">
        <div class="container m-auto">
            <div class="flex items-end">
                <h4 class="text-white font-mp-bold text-3xl sm:text-4xl lg:text-8xl w-3/5 py-4">Matumbé</h4>
                <img class="w-2/5" src="assets/images/matumbe.png" alt="">
            </div>
        </div>
    </article>
    <div class="container m-auto my-7 accordeon-catalogo py-6">
        @for (item of listMatumbe; track $index) {
            <div class="acordeon-item" [class]="item.active ? 'activo' : ''">
                <h4 (click)="activeItemMatumbe($index)" class="flex font-mp-regular text-3xl cursor-pointer mb-5"><img class="w-11 mr-4 h-11" [src]="item.active ? 'assets/images/menos.png' : 'assets/images/mas.png'" >{{item.title}}</h4>
                <div [class]="item.active ? 'block' : 'hidden'" class="mb-7 mx-5 flex items-center gap-6 flex-col lg:flex-row">
                    <p class="font-mp-regular text-2xl" [innerHTML]= "item.text"></p>
                </div>
                @for (element of item.listH; track $index) {
                    <div [class]="item.active ? 'block' : 'hidden'" class="relative py-6  mb-6 border-t-2 border-red mx-5">
                        <p class="font-mp-regular text-2xl mb-7" [innerHTML]= "element.desc"></p>
                        <h3 class="text-center text-black font-mp-bold text-2xl"><strong class="text-5xl text-red">{{element.pointsProduct}}</strong> Puntos</h3>
                        <button (click)="addCar(element)" class="flex relative lg:absolute lg:bottom-6 lg:right-0 font-mp-light text-3xl gap-3 m-auto lg:m-0 mt-5 items-center">Agregar al carrito  <img src="assets/images/car-black.png" alt=""></button>
                    </div>
                }
            </div>
        }
    </div>

    <article class="degradado">
        <div class="container m-auto">
            <div class="flex items-end">
                <h4 class="text-white font-mp-bold text-3xl sm:text-4xl lg:text-8xl w-3/5 py-4">Cyglo</h4>
                <img class="w-2/5" src="assets/images/cyglo.png" alt="">
            </div>
        </div>
    </article>
    <div class="container m-auto my-7 accordeon-catalogo py-6">
        @for (item of listCyglo; track $index) {
            <div class="acordeon-item" [class]="item.active ? 'activo' : ''">
                <h4 (click)="activeItemCyglo($index)" class="flex font-mp-regular text-3xl cursor-pointer mb-5"><img class="w-11 mr-4 h-11" [src]="item.active ? 'assets/images/menos.png' : 'assets/images/mas.png'" >{{item.title}}</h4>
                <div [class]="item.active ? 'block' : 'hidden'" class="mb-7 mx-5 flex items-center gap-6 flex-col lg:flex-row">
                    <p class="font-mp-regular text-2xl" [innerHTML]= "item.text"></p>
                </div>
                @for (element of item.listH; track $index) {
                    <div [class]="item.active ? 'block' : 'hidden'" class="relative py-6  mb-6 border-t-2 border-red mx-5">
                        <p class="font-mp-regular text-2xl mb-7" [innerHTML]= "element.desc"></p>
                        <h3 class="text-center text-black font-mp-bold text-2xl"><strong class="text-5xl text-red">{{element.pointsProduct}}</strong> Puntos</h3>
                        <button (click)="addCar(element)" class="flex relative lg:absolute lg:bottom-6 lg:right-0 font-mp-light text-3xl gap-3 m-auto lg:m-0 mt-5 items-center">Agregar al carrito  <img src="assets/images/car-black.png" alt=""></button>
                    </div>
                }
            </div>
        }
    </div>

    <article class="degradado">
        <div class="container m-auto">
            <div class="flex items-end">
                <h4 class="text-white font-mp-bold text-3xl sm:text-4xl lg:text-8xl w-3/5 py-4">Pilates ProWorks</h4>
                <img class="w-2/5" src="assets/images/pitales.png" alt="">
            </div>
        </div>
    </article>
    <div class="container m-auto my-7 accordeon-catalogo py-6">
        @for (item of listPilates; track $index) {
            <div class="acordeon-item" [class]="item.active ? 'activo' : ''">
                <h4 (click)="activeItemPilates($index)" class="flex font-mp-regular text-3xl cursor-pointer mb-5"><img class="w-11 mr-4 h-11" [src]="item.active ? 'assets/images/menos.png' : 'assets/images/mas.png'" >{{item.title}}</h4>
                <div [class]="item.active ? 'block' : 'hidden'" class="mb-7 mx-5 flex items-center gap-6 flex-col lg:flex-row">
                    <p class="font-mp-regular text-2xl" [innerHTML]= "item.text"></p>
                </div>
                @for (element of item.listH; track $index) {
                    <div [class]="item.active ? 'block' : 'hidden'" class="relative py-6  mb-6 border-t-2 border-red mx-5">
                        <p class="font-mp-regular text-2xl mb-7" [innerHTML]= "element.desc"></p>
                        <h3 class="text-center text-black font-mp-bold text-2xl"><strong class="text-5xl text-red">{{element.pointsProduct}}</strong> Puntos</h3>
                        <button (click)="addCar(element)" class="flex relative lg:absolute lg:bottom-6 lg:right-0 font-mp-light text-3xl gap-3 m-auto lg:m-0 mt-5 items-center">Agregar al carrito  <img src="assets/images/car-black.png" alt=""></button>
                    </div>
                }
            </div>
        }
    </div>

    <div class="text-center">
        <div class="flex lg:inline-flex flex-col lg:flex-row gap-5 m-auto w-auto border-b-2 border-red mb-8 pb-3 text-center lg:text-left">
            <img class="w-28 m-auto h-auto" src="assets/images/gastronomia.png" alt="">
            <div class="">
                <h2 class="text-red font-mp-condensed text-5xl sm:text-6xl lg:text-8xl">Entreteniemiento</h2>
                <p class="font-mp-light text-3xl lg:text-5xl text-black">TuBoleta, Teatro Nacional</p>
            </div>
        </div>
    </div>
    <article class="degradado">
        <div class="container m-auto">
            <div class="flex items-end">
                <h4 class="text-white font-mp-bold text-3xl sm:text-4xl lg:text-8xl w-3/5 py-4">TuBoleta</h4>
                <img class="w-2/5" src="assets/images/tuboleta.png" alt="">
            </div>
        </div>
    </article>
    <div class="container m-auto my-7 accordeon-catalogo py-6">
        @for (item of listTuboleta; track $index) {
            <div class="acordeon-item" [class]="item.active ? 'activo' : ''">
                <h4 (click)="activeItemTuboleta($index)" class="flex font-mp-regular text-3xl cursor-pointer mb-5"><img class="w-11 mr-4 h-11" [src]="item.active ? 'assets/images/menos.png' : 'assets/images/mas.png'" >{{item.title}}</h4>
                <div [class]="item.active ? 'block' : 'hidden'" class="mb-7 mx-5 flex items-center gap-6 flex-col lg:flex-row">
                    <p class="font-mp-regular text-2xl" [innerHTML]= "item.text"></p>
                </div>
                @if (item.listV) {
                    <div [class]="item.active ? 'block' : 'hidden'" class="flex justify-center flex-wrap py-6 mb-6">
                        @for (element of item.listV; track $index) {
                            <div class="relative w-full sm:w-1/2 lg:w-1/4 border-r-2 border-red text-center last:border-r-0 mb-4">
                                <h3 class="text-center text-black font-mp-bold text-2xl"><strong class="text-5xl text-red">{{element.pointsProduct}}</strong> Puntos</h3>
                                <img (click)="addCar(element)" class="m-auto text-center py-3" src="assets/images/car-black.png" alt="">
                                <button (click)="addCar(element)" class="bottom-6 right-0 font-mp-light text-3xl">Agregar al carrito</button>
                            </div>
                        }
                    </div>
                }
                
            </div>
        }
    </div>

    <article class="degradado">
        <div class="container m-auto">
            <div class="flex items-end">
                <h4 class="text-white font-mp-bold text-3xl sm:text-4xl lg:text-8xl w-3/5 py-4">Teatro Nacional</h4>
                <img class="w-2/5" src="assets/images/teatro.png" alt="">
            </div>
        </div>
    </article>
    <div class="container m-auto my-7 accordeon-catalogo py-6">
        @for (item of listTeatro; track $index) {
            <div class="acordeon-item" [class]="item.active ? 'activo' : ''">
                <h4 (click)="activeItemTeatro($index)" class="flex font-mp-regular text-3xl cursor-pointer mb-5"><img class="w-11 mr-4 h-11" [src]="item.active ? 'assets/images/menos.png' : 'assets/images/mas.png'" >{{item.title}}</h4>
                <div [class]="item.active ? 'block' : 'hidden'" class="mb-7 mx-5 flex items-center gap-6 flex-col lg:flex-row">
                    <p class="font-mp-regular text-2xl" [innerHTML]= "item.text"></p>
                </div>
                @if (item.listV) {
                    <div [class]="item.active ? 'block' : 'hidden'" class="flex justify-center flex-wrap py-6 mb-6">
                        @for (element of item.listV; track $index) {
                            <div class="relative w-full sm:w-1/2 lg:w-1/4 border-r-2 border-red text-center last:border-r-0 mb-4">
                                <h3 class="text-center text-black font-mp-bold text-2xl"><strong class="text-5xl text-red">{{element.pointsProduct}}</strong> Puntos</h3>
                                <img (click)="addCar(element)" class="m-auto text-center py-3" src="assets/images/car-black.png" alt="">
                                <button (click)="addCar(element)" class="bottom-6 right-0 font-mp-light text-3xl">Agregar al carrito</button>
                            </div>
                        }
                    </div>
                }
                
            </div>
        }
    </div>

    <div class="text-center">
        <div class="flex lg:inline-flex flex-col lg:flex-row gap-5 m-auto w-auto border-b-2 border-red mb-8 pb-3 text-center lg:text-left">
            <img class="w-28 m-auto h-auto" src="assets/images/gastronomia.png" alt="">
            <div class="">
                <h2 class="text-red font-mp-condensed text-5xl sm:text-6xl lg:text-8xl">Bonos</h2>
                <p class="font-mp-light text-3xl lg:text-5xl text-black">Kiosco</p>
            </div>
        </div>
    </div>

    <article class="degradado">
        <div class="container m-auto">
            <div class="flex items-end">
                <h4 class="text-white font-mp-bold text-3xl sm:text-4xl lg:text-8xl w-3/5 py-4">Kiosco</h4>
                <img class="w-2/5" src="assets/images/kift.png" alt="">
            </div>
        </div>
    </article>
    <div class="container m-auto my-7 accordeon-catalogo py-6">
        @for (item of listKift; track $index) {
            <div class="acordeon-item" [class]="item.active ? 'activo' : ''">
                <h4 (click)="activeItemKift($index)" class="flex font-mp-regular text-3xl cursor-pointer mb-5"><img class="w-11 mr-4 h-11" [src]="item.active ? 'assets/images/menos.png' : 'assets/images/mas.png'" >{{item.title}}</h4>
                <div [class]="item.active ? 'block' : 'hidden'" class="mb-7 mx-5 flex items-center gap-6 flex-col lg:flex-row">
                    <p class="font-mp-regular text-2xl" [innerHTML]= "item.text"></p>
                </div>
                @if (item.listV) {
                    <div [class]="item.active ? 'block' : 'hidden'" class="flex justify-center flex-wrap py-6 mb-6">
                        @for (element of item.listV; track $index) {
                            <div class="relative w-full sm:w-1/2 lg:w-1/4 border-r-2 border-red text-center last:border-r-0 mb-4">
                                <h3 class="text-center text-black font-mp-bold text-2xl"><strong class="text-5xl text-red">{{element.pointsProduct}}</strong> Puntos</h3>
                                <img (click)="addCar(element)" class="m-auto text-center py-3" src="assets/images/car-black.png" alt="">
                                <button (click)="addCar(element)" class="bottom-6 right-0 font-mp-light text-3xl">Agregar al carrito</button>
                            </div>
                        }
                    </div>
                }
                
            </div>
        }
    </div>

    <article class="degradado">
        <div class="container m-auto">
            <div class="flex items-end">
                <h4 class="text-white font-mp-bold text-3xl sm:text-4xl lg:text-8xl w-3/5 py-4">Aviatur </h4>
                <img class="w-2/5" src="assets/images/aviatur.png" alt="">
            </div>
        </div>
    </article>
    <div class="container m-auto my-7 accordeon-catalogo py-6">
        @for (item of listAviatur; track $index) {
            <div class="acordeon-item" [class]="item.active ? 'activo' : ''">
                <h4 (click)="activeItemAviatur($index)" class="flex font-mp-regular text-3xl cursor-pointer mb-5"><img class="w-11 mr-4 h-11" [src]="item.active ? 'assets/images/menos.png' : 'assets/images/mas.png'" >{{item.title}}</h4>
                <div [class]="item.active ? 'block' : 'hidden'" class="mb-7 mx-5 flex items-center gap-6 flex-col lg:flex-row">
                    <p class="font-mp-regular text-2xl" [innerHTML]= "item.text"></p>
                </div>
                @if (item.listV) {
                    <div [class]="item.active ? 'block' : 'hidden'" class="flex justify-center flex-wrap py-6 mb-6">
                        @for (element of item.listV; track $index) {
                            <div class="relative w-full sm:w-1/2 lg:w-1/4 border-r-2 border-red text-center last:border-r-0 mb-4">
                                <h3 class="text-center text-black font-mp-bold text-2xl"><strong class="text-5xl text-red">{{element.pointsProduct}}</strong> Puntos</h3>
                                <img (click)="addCar(element)" class="m-auto text-center py-3" src="assets/images/car-black.png" alt="">
                                <button (click)="addCar(element)" class="bottom-6 right-0 font-mp-light text-3xl">Agregar al carrito</button>
                            </div>
                        }
                    </div>
                }
                
            </div>
        }
    </div>
</section>


<!-- <p>A ponernos en movimiento. Clase de baile en Matumbé Fitness Dance Studio de 50 minutos, en la cual será posible tonificar el cuerpo, fortalecer el sistema cardiovascular, mejorar el equilibrio y la ubicación espacial y tener un espacio divertido y de recarga.<br>Clase válida para una persona, la disponibilidad de los horarios en cada sede debe ser consultado a <span>la línea de WA de Matumbé (+57 3164713110)</span> y aplican los TYC definidos por el studio fitness, disponibles aquí.</p> -->