<section>
    <div class="container m-auto px-6 md:px-0 py-6 md:py-0">
        <div class="flex justify-between flex-col md:flex-row items-center mb-7">
            <div class="w-full ">
                <h2 class="font-mp-bold text-center md:text-left text-3xl md:text-5xl">Mis canjes <img src="" alt=""></h2>
            </div>
            <div class="w-full py-10 flex flex-col md:flex-row justify-end items-end">
                <h4 class="font-mp-bold text-2xl md:border-r-2 border-black md:pr-5 text-center md:text-left">Mi saldo actual <strong class="text-5xl">15.871</strong> puntos</h4>
                <p class="w-full md:w-auto font-mp-light text-2xl text-center md:text-left md:pl-5">MIEMBRO DE PRIVILEGIOS JMTRV</p>
            </div>
        </div>
        <div class="flex gap-7 mb-10 flex-col md:flex-row">
            <div class="w-full">
                <input formControlName="name" class="jm-input" type="text" placeholder="Escribe tu nombre" />
            </div>
            <div class="w-full">
                <input formControlName="lastName" class="jm-input" type="text" placeholder="Escribe tu apellido" />
            </div>
            <div class="w-full">
                <input formControlName="lastName" class="jm-input" type="text" placeholder="Escribe tu apellido" />
            </div>
        </div>
        <div class="p-5 mb-5 shadow-2xl">
            <article class="mb-10">
                <div class="flex flex-col md:flex-row justify-between pb-2 mb-3 border-b-2 border-red">
                    <h3 class="font-mp-bold text-2xl">Canje redimido</h3>
                    <h3 class="font-mp-bold text-2xl">Fecha del canje: 30/09/2024</h3>
                </div>
                <p class="font-mp-regular mb-2 text-gray-secondary text-xl">Compra NO 1213213213</p>
                <p class="font-mp-regular mb-2 text-gray-secondary text-xl">Redimido el 1 de junio</p>
                <p class="font-mp-regular mb-2 text-gray-secondary text-xl">Orden redimida: sfdsdf sdfsdf</p>
                <p class="font-mp-regular mb-2 text-gray-secondary text-xl">Puntos: 35698</p>
            </article>
            <article class="mb-10">
                <div class="flex justify-between pb-2 mb-3 border-b-2 border-red flex-col md:flex-row">
                    <h3 class="font-mp-bold text-2xl">Canje redimido</h3>
                    <h3 class="font-mp-bold text-2xl">Fecha del canje: 30/09/2024</h3>
                </div>
                <p class="font-mp-regular mb-2 text-gray-secondary text-xl">Compra NO 1213213213</p>
                <p class="font-mp-regular mb-2 text-gray-secondary text-xl">Redimido el 1 de junio</p>
                <p class="font-mp-regular mb-2 text-gray-secondary text-xl">Orden redimida: sfdsdf sdfsdf</p>
                <p class="font-mp-regular mb-2 text-gray-secondary text-xl">Puntos: 35698</p>
            </article>
            <article class="mb-10">
                <div class="flex justify-between pb-2 mb-3 border-b-2 border-red flex-col md:flex-row">
                    <h3 class="font-mp-bold text-2xl">Canje redimido</h3>
                    <h3 class="font-mp-bold text-2xl">Fecha del canje: 30/09/2024</h3>
                </div>
                <p class="font-mp-regular mb-2 text-gray-secondary text-xl">Compra NO 1213213213</p>
                <p class="font-mp-regular mb-2 text-gray-secondary text-xl">Redimido el 1 de junio</p>
                <p class="font-mp-regular mb-2 text-gray-secondary text-xl">Orden redimida: sfdsdf sdfsdf</p>
                <p class="font-mp-regular mb-2 text-gray-secondary text-xl">Puntos: 35698</p>
            </article>
            <article class="mb-10">
                <div class="flex justify-between pb-2 mb-3 border-b-2 border-red flex-col md:flex-row">
                    <h3 class="font-mp-bold text-2xl">Canje redimido</h3>
                    <h3 class="font-mp-bold text-2xl">Fecha del canje: 30/09/2024</h3>
                </div>
                <p class="font-mp-regular mb-2 text-gray-secondary text-xl">Compra NO 1213213213</p>
                <p class="font-mp-regular mb-2 text-gray-secondary text-xl">Redimido el 1 de junio</p>
                <p class="font-mp-regular mb-2 text-gray-secondary text-xl">Orden redimida: sfdsdf sdfsdf</p>
                <p class="font-mp-regular mb-2 text-gray-secondary text-xl">Puntos: 35698</p>
            </article>
            <article class="mb-10">
                <div class="flex justify-between pb-2 mb-3 border-b-2 border-red flex-col md:flex-row">
                    <h3 class="font-mp-bold text-2xl">Canje redimido</h3>
                    <h3 class="font-mp-bold text-2xl">Fecha del canje: 30/09/2024</h3>
                </div>
                <p class="font-mp-regular mb-2 text-gray-secondary text-xl">Compra NO 1213213213</p>
                <p class="font-mp-regular mb-2 text-gray-secondary text-xl">Redimido el 1 de junio</p>
                <p class="font-mp-regular mb-2 text-gray-secondary text-xl">Orden redimida: sfdsdf sdfsdf</p>
                <p class="font-mp-regular mb-2 text-gray-secondary text-xl">Puntos: 35698</p>
            </article>

        </div>
    </div>
</section>