<section>
    <div class="container m-auto flex gap-5 flex-col md:flex-row">
        <div class="w-full md:w-1/3">
            <img class="mb-5" src="assets/images/banner-mis-puntos.png" alt="">
            <div class="px-6 md:px-0">
                <h3 class="font-mp-regular text-5xl mb-3">¡Hola!</h3>
                <p class="font-mp-light pb-4 mb-6 text-xl border-b-2 border-red">Este es tu sitio privado. Aquí encontrarás todo el detalle de tus Puntos.</p>
            </div>
            <div class="relative text-center mb-8 py-6 shadow-3xl mx-6 md:mx-0">
                <div class="jm-triangulo-top"></div>
                <div class="jm-triangulo-bottom"></div>
                <h5 class="font-mp-bold text-2xl">Miembro de PRIVILEGIOS JMTRV</h5>
                <p class="font-mp-light text-3xl"><strong class="font-mp-bold text-5xl">{{myPoints}}</strong> Puntos</p>
                <div class="text-center">
                    <a class="bg-fondo-boton inline-block pl-16 pr-24 pt-3 pb-8 font-mp-regular text-white text-2xl mt-4 bg-no-repeat bg-contain scale-100 hover:scale-105 transition-transform" routerLink="/catalogo">Ver catálogo</a>
                </div>
            </div>
        </div>
        <div class="w-full md:w-2/3  px-6 md:px-0">
            <div class="w-full py-10 flex justify-end items-end flex-col md:flex-row">
                <h4 class="font-mp-bold text-2xl border-r-2 border-black pr-5">Mi saldo actual <strong class="text-5xl">{{myPoints}}</strong> puntos</h4>
                <p class="font-mp-light text-2xl pl-5 ">MIEMBRO DE PRIVILEGIOS JMTRV</p>
            </div>
            <div class="flex gap-5 flex-col md:flex-row">
                <div  class="w-full relative mb-8 p-10 shadow-3xl text-center">
                    <div class="jm-triangulo-top"></div>
                    <div class="jm-triangulo-bottom"></div>
                    <h2 class="font-mp-light text-2xl mb-6">Mis <strong class="font-mp-bold">Puntos</strong></h2>
                    <p class="font-mp-bold text-left text-xl mb-2">Acumulados del mes anterior</p>
                    <div class="card bg-black rounded-2xl p-5 text-left mb-7">
                        <h5 class="font-mp-bold text-white text-2xl">{{lastMonth}}</h5>
                        <p class="font-mp-light text-white text-3xl">{{PointsMonth}}</p>
                    </div>
                    <p class="font-mp-bold text-left text-xl mb-2">Por vencer este mes</p>
                    <div class="card bg-black rounded-2xl p-5 text-left mb-7">
                        <h5 class="font-mp-bold text-white text-2xl">{{currentMonth}}</h5>
                        <p class="font-mp-light text-white text-3xl">{{pointsToExpire}}</p>
                    </div>
                    <ul class="pl-6">
                        <li class="list-decimal marker:text-2xl"><p class="font-mp-light text-left mb-5 text-xl">Los puntos que estén acumulados hace seis meses, y No se hayan redimido, se vencerán.</p></li>
                        <li class="list-decimal marker:text-2xl"><p class="font-mp-light text-left mb-5 text-xl">Los puntos acumulados por compras, serán abonados en el transcurso del mes siguiente, al recaudo de la póliza adquirida.</p></li>
                    </ul>
                </div>
                <div class="w-full">
                    <div  class="w-full relative text-center mb-8 py-6 shadow-3xl">
                        <div class="jm-triangulo-top"></div>
                        <div class="jm-triangulo-bottom"></div>
                        <h2 class="font-mp-light text-2xl mb-7">Mis <strong class="font-mp-bold">Últimos canjes</strong></h2>
                        <img class="m-auto mb-5 w-44" src="assets/images/canjes.png" alt="">
                        <p class="font-mp-light text-xl mb-5">Aun no tienes canjes realizados.</p>
                        <div class="text-center">
                            <a class="bg-fondo-boton inline-block pl-16 pr-24 pt-3 pb-14 font-mp-regular text-white text-3xl mt-4 bg-no-repeat bg-contain scale-100 hover:scale-105 transition-transform" routerLink="/mis-canjes">Ver canjes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>