<section>
    <div class="container m-auto px-6 lg:px-0 py-6 lg:py-0">
        <div class="flex justify-between flex-col lg:flex-row items-center mb-7">
            <div class="w-full ">
                <h2 class="font-mp-bold text-center lg:text-left text-3xl lg:text-5xl">Checkout - Finalizar Redención <img src="" alt=""></h2>
            </div>
            <div class="w-full py-10 flex flex-col lg:flex-row justify-end items-end">
                <h4 class="font-mp-bold text-2xl lg:border-r-2 border-black lg:pr-5 text-center lg:text-left">Mi saldo actual <strong class="text-5xl">{{myPoints}}</strong> puntos</h4>
                <p class="w-full lg:w-auto font-mp-light text-2xl text-center lg:text-left lg:pl-5 ">MIEMBRO DE PRIVILEGIOS JMTRV</p>
            </div>
        </div>
        <div class="text-center  mb-7">
            <h3 class="font-mp-condensed text-red text-5xl border-b-2 border-red inline">Resumen de la redención</h3>
        </div>
        @if (listProducts.length <= 0) {
            <p class="font-mp-condensed text-black text-5xl mb-10">No hay productos asociados.</p>
        } @else {
            @if (isMovile) {
                <div class="">
                    @for (item of listProducts; track $index) {
                        <div class="p-3 bg-gray-primary mb-4">
                            <img class="w-1/2 m-auto h-auto" [src]="item.imageUrl" alt="">
                            <p class="font-mp-regular text-base mb-3">{{item.description}}</p>
                            <div class="flex justify-between border-t border-white py-4">
                                <p>Cantidad redimida:</p>
                                <p class="font-mp-bold">{{item.redeemedAmount}}</p>
                            </div>
                            <div class="flex justify-between border-t border-white py-3">
                                <p>Puntos:</p>
                                <p class="font-mp-bold">{{item.pointsProduct}}</p>
                            </div>
                            <div class="flex justify-between border-t border-white py-3">
                                <p>Total:</p>
                                <p class="font-mp-bold">{{item.total}}</p>
                            </div>
                            <button class="bg-fondo-boton pl-16 pr-24 pt-3 pb-8 font-mp-regular text-white text-2xl mt-4 bg-no-repeat bg-contain scale-100 hover:scale-105 transition-transform" (click)="deleteItem(item)">Eliminar</button>
                        </div>
                    }
                </div>
            } @else {
                <table class=" mb-7">
                    <tr>
                        <th class="w-5/12 p-3 font-mp-light text-3xl text-gray-secondary border-r border-gray-primary font-light">Producto</th>
                        <th class="w-1/12 p-3 font-mp-light text-3xl text-gray-secondary border-r border-gray-primary font-light">Cantidad redimida</th>
                        <th class="w-2/12 p-3 font-mp-light text-3xl text-gray-secondary border-r border-gray-primary font-light">Puntos</th>
                        <th class="w-2/12 p-3 font-mp-light text-3xl text-gray-secondary border-r border-gray-primary font-light">Total</th>
                        <th class="w-2/12 p-3 font-mp-light text-3xl text-gray-secondary border-r border-gray-primary font-light"></th>
                    </tr>
                    @for (item of listProducts; track $index) {
                        <tr class="border-b border-white">
                            <td class="w-5/12 p-3 bg-gray-primary border-r border-white">
                                <div class="flex gap-2 items-center">
                                    <img class="w-1/2 h-[fit-content]" [src]="item.imageUrl" alt="">
                                    <p class="font-mp-regular text-xs">{{item.description}}</p>
                                </div>
                            </td>
                            <td class="w-1/12 p-3 bg-gray-primary border-r border-white">
                                <p class="text-center text-5xl font-mp-bold">{{item.redeemedAmount}}</p>
                            </td>
                            <td class="w-2/12 p-3 bg-gray-primary border-r border-white">
                                <p class="font-mp-bold text-2xl text-center "><strong class="text-5xl">{{item.pointsProduct}}</strong> Puntos</p>
                            </td>
                            <td class="w-2/12 p-3 bg-gray-primary border-r border-white">
                                <p class="font-mp-bold text-2xl text-center "><strong class="text-5xl">{{item.total}}</strong> Puntos</p>
                            </td>
                            <td class="w-2/12 p-3 bg-gray-primary border-r border-white">
                                <button class="bg-fondo-boton pl-16 pr-24 pt-3 pb-8 font-mp-regular text-white text-2xl mt-4 bg-no-repeat bg-contain scale-100 hover:scale-105 transition-transform" (click)="deleteItem(item)">Eliminar</button>
                            </td>
                        </tr>
                    }
                    
                </table>
            }
            
            <div class="border-b-2 border-red mt-2 w-full mb-7"></div>
            <div class="flex flex-wrap lg:flex-nowrap items-start mb-7">
                <div class="w-full lg:w-1/2">
                    <p class="font-mp-light text-3xl lg:text-4xl">Cantidad total de bonos: 2</p>
                </div>
                <div class="w-1/2 lg:w-1/4 text-left lg:text-center">
                    <p class="font-mp-light text-3xl lg:text-4xl mb-5">Subtotal</p>
                    <p class="font-mp-light text-3xl lg:text-4xl text-red">Total:</p>
                </div>
                <div class="w-1/2 lg:w-1/4 text-right">
                    <p class="font-mp-light text-3xl lg:text-4xl mb-5">7.172 Puntos</p>
                    <p class="font-mp-light text-3xl lg:text-4xl text-red">7.172 Puntos</p>
                </div>
            </div>
            @if (errorPoints) {
                <p class="font-mp-condensed text-black text-5xl mb-10">No tienes suficientes puntos.</p>
            }
            <div class="flex items-end mb-10">
                <div class="w-1/2 text-left">
                    <div class="text-left">
                        <button class="bg-fondo-boton pl-16 pr-24 pt-3 pb-8 font-mp-regular text-white text-2xl mt-4 bg-no-repeat bg-contain scale-100 hover:scale-105 transition-transform">Cancelar</button>
                    </div>
                </div>
                <div class="w-1/2 text-right">
                    <div class="text-right">
                        <button class="bg-fondo-boton pl-16 pr-24 pt-3 pb-8 font-mp-regular text-white text-2xl mt-4 bg-no-repeat bg-contain scale-100 hover:scale-105 transition-transform" (click)="CreateRedeemtion()">REDIMIR</button>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
