<section class="banner relative">
    <div class="banner-img flex justify-end">
        <img class="w-full lg:w-3/5" src="assets/images/banner-home.png" alt="">
    </div>
    <div class="container relative lg:absolute lg:top-24 left-1/2 -translate-x-1/2 py-8 lg:py-0 px-6 lg:px-0">
        <div class="banner-info w-full lg:w-3/6 lg:pr-12">
            <h1 class="font-mp-bold-condensed text-6xl border-b-2 border-black inline-block pb-2 mb-5">PRIVILEGIOS JMTRV</h1>
            <p class="font-mp-regular text-5xl">DISFRUTA <span class="text-red">EXPERIENCIAS EXCLUSIVAS</span> PARA TI</p>
        </div>
    </div>
    <img class="hidden lg:block absolute bottom-0 left-0 w-40" src="assets/images/triangulo-banner.png" alt="">
</section>
<section class="videos text-center py-14 px-6 lg:px-0">
    <div class="container m-auto">
        <h1 class="font-mp-bold-condensed text-6xl border-b-2 border-red inline-block pb-2 mb-10">Sigue Estos Pasos</h1>
        <div class="flex justify-between flex-col lg:flex-row gap-12">
            <div class="videos-item w-full">
                <iframe width="100%" height="330" src="https://www.youtube.com/embed/VVWhUBdhC64?si=jY0Or8GwwnK9hO-a" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p class="font-mp-regular text-4xl text-red">¿Cómo Registrarme?</p>
            </div>
            <div class="videos-item w-full">
                <iframe width="100%" height="330" src="https://www.youtube.com/embed/LpSRxYqRuLU?si=ya_PWmkUY7Vgyvtt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p class="font-mp-regular text-4xl text-red">¿Cómo Ver Mis Puntos?</p>
            </div>
            <div class="videos-item w-full">
                <iframe width="100%" height="330" src="https://www.youtube.com/embed/7oRBa4zxbZQ?si=5JR7VgOjFx6zplSm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p class="font-mp-regular text-4xl text-red">⁠¿Cómo Redimir Privilegios?</p>
            </div>
        </div>
    </div>
</section>