<section class="banner relative">
    <div class="banner-img flex justify-end">
        <img class="w-full md:w-3/5" src="assets/images/banner-home.png" alt="">
    </div>
    <div class="container relative md:absolute md:top-24 left-1/2 -translate-x-1/2 py-8 md:py-0 px-6 md:px-0">
        <div class="banner-info w-full md:w-3/6 md:pr-12">
            <h1 class="font-mp-bold-condensed text-6xl border-b-2 border-black inline-block pb-2 mb-5">PRIVILEGIOS JMTRV</h1>
            <p class="font-mp-regular text-5xl">DISFRUTA TUS <span class="text-red">EXPERIENCIAS EXCLUSIVAS</span> DISEÑADAS PARA TI</p>
            <a class="font-mp-regular text-4xl text-red border-t-2 border-red inline-block pt-6 mt-2" routerLink="/">Conoce más</a>
        </div>
    </div>
    <img class="hidden md:block absolute bottom-0 left-0 w-40" src="assets/images/triangulo-banner.png" alt="">
</section>
<section class="videos text-center py-14 px-6 md:px-0">
    <div class="container m-auto">
        <h1 class="font-mp-bold-condensed text-6xl border-b-2 border-red inline-block pb-2 mb-10">Lorem imput</h1>
        <div class="flex justify-between flex-col md:flex-row gap-12">
            <div class="videos-item">
                <video controls class="mb-4" src="assets/videos/dummy.mp4"></video>
                <p class="font-mp-regular text-4xl text-red">Lorem imput</p>
            </div>
            <div class="videos-item">
                <video controls class="mb-4" src="assets/videos/dummy.mp4"></video>
                <p class="font-mp-regular text-4xl text-red">Lorem imput</p>
            </div>
            <div class="videos-item">
                <video controls class="mb-4" src="assets/videos/dummy.mp4"></video>
                <p class="font-mp-regular text-4xl text-red">Lorem imput</p>
            </div>
        </div>
    </div>
</section>